.interested {
  color: rgb(255, 255, 255);
}
html {
  background-color: black;
}
.currentlylearning {
  color: white;
}
.Trash-Script {
  color: white;
}
.Password-Manager {
  color: white;
}
.Twitter {
  color: white;
}
.Github {
  color: white;
}
.Trash {
  color: white;
}
.Password {
  color: white;
}
.I-Make {
  color: white;
}
.trash {
  color: white;
}
.Noah {
  color: white;
}