html {
    background-color: rgb(255, 255, 255);
  }

  .box {
    height: 80px;
    width: 150px;
    padding: 20px;
    margin: 50px;
    border: 5px solid rgb(29, 161, 242);
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
   }
   h1{
     font-family: 'Courier New', Courier, monospace;
     color: white;
   }
   .hi {
    height: 70px;
    width: 150px;
    padding: 20px;
    margin: 50px;
    border: 5px solid rgb(29, 161, 242);
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
   }
  h2{
     font-family: 'Courier New', Courier, monospace;
     color: white;
   }
   .hi2 {
    height: 250px;
    width: 500px;
    padding: 20px;
    margin: 50px;
    border: 5px solid rgb(29, 161, 242);
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
   }
   .python {
     font-family: 'Courier New', Courier, monospace;
     color: white;
     font-size: x-large;
     font-weight: bolder;
   }
   .linux {
     font-family: 'Courier New', Courier, monospace;
     color: white;
     font-size: x-large;
     font-weight: bolder;
   }
   .bash {
     font-family: 'Courier New', Courier, monospace;
     color: white;
     font-size: x-large;
     font-weight: bolder;
   }
   .HTML {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: x-large;
    font-weight: bolder;
   }
   .EDUCATION1 {
    height: 75px;
    width: 130px;
    padding: 20px;
    margin: 50px;
    border: 5px solid rgb(29, 161, 242);
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
   }
   .EDUCATION {
    height: 250px;
    width: 500px;
    padding: 20px;
    margin: 50px;
    border: 5px solid rgb(29, 161, 242);
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
   }
  h3{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: x-large;
   }
  .PROJECTS {
    height: 80px;
    width: 120px;
    padding: 20px;
    margin: 50px;
    border: 5px solid rgb(29, 161, 242);
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
   }
   h4{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: x-large;

   }
   .Trash {
    height: 129px;
    width: 510px;
    padding: 20px;
    margin: 50px;
    border: 5px solid rgb(29, 161, 242);
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
   }
  .Trash1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: x-large;
    font-weight: bolder;
   }
  .Trash2 {
    height: 90px;
    width: 178px;
    padding: 20px;
    margin: 50px;
    border: 5px solid rgb(29, 161, 242);
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
   }
   h5{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: x-large;
   }
   .Trash4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder; 
    color: rgb(0, 68, 255);
    }



   
